@model GeneratorBase.MVC.Models.T_Address
@{
 ViewBag.Title = "Bulk Update Address";
    Layout = null;
}
<script>
    $(document).ready(function () {
        try {
            var hostingEntityName = "";
            if ('@Convert.ToString(ViewData["AssociatedType"])' != null) {
                hostingEntityName = '@Convert.ToString(ViewData["AssociatedType"])';
                 $('#' + hostingEntityName + 'ID').attr("lock","true");
            }
        }
        catch (ex) { }
    });
</script>
<script>
    $(document).ready(function () {
        $('.form-control:input').change(function () {
            var $this = $(this);
            $("input[type=checkbox][value=" + $this.attr('id') + "]").prop("checked", $this.val() != '' ? true : false);

            var ChildDDids = $this.attr('ChildDDids');
            if (ChildDDids != undefined) {
                var ids = ChildDDids.split(",");
                for (var i = 0; i < ids.length; i++) {
                    $("input[type=checkbox][value=" + ids[i] + "]").prop("checked", $this.val() != '' ? true : false);
                }
               
            }
        })
    });
</script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("BulkUpdate", "T_Address", new { UrlReferrer = Convert.ToString(ViewData["T_AddressParentUrl"]), IsDDAdd = ViewBag.IsDDAdd }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   @Html.AntiForgeryToken();
   @Html.Hidden("BulkUpdate", (object)ViewBag.BulkUpdate);
	<div class="alert alert-info" style="margin-top:-10px;">
        <strong>Warning!</strong> This action updates all the selected records in this list.
        Select the desired properties using check boxes in the pop-up window.
        This is an irreversible action, which results in modification of all the selected properties.
        If you want to proceed with the action on the selected records, click "Update".
    </div>
	<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default AppForm">
                <div class="panel-body">
                   <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Update</th>
                                <th>Property</th>
                                <th>Set Value</th>
                            </tr>
							<tr>
                <td align="center"><input type="checkbox" name="chkUpdate" value="T_AddressLine1" /></td>
                <td>@Html.LabelFor(model => model.T_AddressLine1)</td>
				<td> @Html.TextBoxFor(model => model.T_AddressLine1, new { @class = "form-control" })</td></tr>
<tr>
                <td align="center"><input type="checkbox" name="chkUpdate" value="T_AddressLine2" /></td>
                <td>@Html.LabelFor(model => model.T_AddressLine2)</td>
				<td> @Html.TextBoxFor(model => model.T_AddressLine2, new { @class = "form-control" })</td></tr>
<tr>
                <td align="center"><input type="checkbox" name="chkUpdate" value="T_ZipCode" /></td>
                <td>@Html.LabelFor(model => model.T_ZipCode)</td>
				<td> @Html.TextBoxFor(model => model.T_ZipCode, new { @class = "form-control" })</td></tr>
<tr>
                <td align="center"><input type="checkbox" name="chkUpdate" value="T_AddressCountryID" /></td>
				<td>@Html.LabelFor(model => model.T_AddressCountryID)</td>
				<td>
		@Html.DropDownList("T_AddressCountryID", null, "-- Select --", new {    @onchange = Html.Raw("ClearChildDD('T_AddressStateID',this);ClearChildDD('T_AddressCityID',this);") ,  @ChildDDids = "T_AddressStateID,T_AddressCityID,", @class = "chosen-select form-control", @HostingName = "T_Country", @dataurl = Url.Action("GetAllValue", "T_Country",new { caller = "T_AddressCountryID" }) })
				</td></tr>
<tr>
                <td align="center"><input type="checkbox" name="chkUpdate" value="T_AddressStateID" /></td>
				<td>@Html.LabelFor(model => model.T_AddressStateID)</td>
				<td>
		@Html.DropDownList("T_AddressStateID", null, "-- Select --", new { @lock="true", @ParentDD = "T_AddressCountryID" , @AssoNameWithParent = "T_StateCountryID" ,  @onchange = Html.Raw("ClearChildDD('T_AddressCityID',this);") ,  @ChildDDids = "T_AddressCityID,", @class = "chosen-select form-control", @HostingName = "T_State", @dataurl = Url.Action("GetAllValue", "T_State",new { caller = "T_AddressStateID" }) })
				</td></tr>
<tr>
                <td align="center"><input type="checkbox" name="chkUpdate" value="T_AddressCityID" /></td>
				<td>@Html.LabelFor(model => model.T_AddressCityID)</td>
				<td>
		@Html.DropDownList("T_AddressCityID", null, "-- Select --", new { @lock="true", @ParentDD = "T_AddressCountryID,T_AddressStateID" , @AssoNameWithParent = "T_CityCountryID,T_CityStateID" ,    @class = "chosen-select form-control", @HostingName = "T_City", @dataurl = Url.Action("GetAllValue", "T_City",new { caller = "T_AddressCityID" }) })
				</td></tr>
                        </thead>
                    </table>
 </div> 
 </div>
  </div>
   </div>
   <button id="CancelQuickAdd" type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
    if (ViewBag.IsDDAdd == null && User.CanEdit("T_Address"))
    {
        <input type="submit" value="Update" class="btn btn-primary btn-sm" />
    }
    <br /><br />
	}
<script src="~/Scripts/Common3/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
<script>
    $(function () {
        var userAgent = navigator.userAgent.toLowerCase();
        // Figure out what browser is being used
        var browser = {
            version: (userAgent.match(/.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/) || [])[1],
            safari: /webkit/.test(userAgent),
            opera: /opera/.test(userAgent),
            msie: /msie/.test(userAgent) && !/opera/.test(userAgent),
            mozilla: /mozilla/.test(userAgent) && !/(compatible|webkit)/.test(userAgent)
        };
        if (!browser.msie) {
            $('form').areYouSure();
        }
        else if (browser.version > 8.0) {
            $('form').areYouSure();
        }
    });
</script>
  
