@model GeneratorBase.MVC.Models.T_Address
@using PagedList;
@{
    ViewBag.Title = "Edit Address";
	var EditPermission = User.CanEditItem("T_Address", Model, User);
	var DeletePermission = User.CanDeleteItem("T_Address", Model, User);
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_Address");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Address";
}
@functions {
    object getHtmlAttributes(string Property)
    {
        if (User.CanEdit("T_Address", Property))
        {
            return new { @class = "form-control" };
        } return new { @class = "form-control", @readonly = "readonly" };
    }
}
<script>
    $(document).ready(function () {
        try {
            var hostingEntityName = "";
             if ('@Convert.ToString(ViewData["AssociatedType"])'.length > 0) {
                hostingEntityName = '@Convert.ToString(ViewData["AssociatedType"])';
				$('#' + hostingEntityName + 'ID').attr("lock","true");
				 $('#' + hostingEntityName + 'ID').trigger("change");
				  $("input[type='radio'][name='" + hostingEntityName + "ID']").each(function () {
                    if (!this.checked)
                        this.closest("li").style.display = "none";
                });
            }
			if ($.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') != null) {
				$('a[href="#' + $.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') + '"]').click();
			}
			 
        }
        catch (ex) { }
    });
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_AddressIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_AddressIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_AddressIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_AddressIsSetValueUIRule);
    }
}
	<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-edit text-primary"></i> @EntityDisplayName  <i class="glyphicon glyphicon-chevron-right small"></i> <span>Edit</span>

			  <div class="btn-group pull-right" style="margin-top:3px;">
            <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-default">
                Action
                <span class="caret">    </span>
            </button>
			<ul class="dropdown-menu pull-left">
				<li>
                    <a href="@Url.Action("Details", "T_Address", new { id = Model.Id, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"])  }, null)"><i class="glyphicon glyphicon-eye-open"></i>  View</a>
                </li>
				<li>
                    @if (User.Identity.IsAuthenticated && User != null && User.CanEdit("T_Address"))
                    {
                        <a href="@Url.Action("Edit","T_Address", new { id = Model.Id,  UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-edit"></i>  Edit</a>
                    }
                </li>             
				<li>
                    @if (User.Identity.IsAuthenticated && User != null && User.CanDelete("T_Address"))
                    {
                        <a href="@Url.Action("Delete", "T_Address", new { id = Model.Id, UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="glyphicon glyphicon-remove-sign"></i>  Delete</a>
                    }
                </li>
 <li class="divider" style="clear:both"></li>
 <li class="dropdown-submenu pull-left">
	<a tabindex="-1" href="#" style="margin-bottom:10px;">Find Matching</a>
    <ul class="dropdown-menu pull-left">
<li>
		<a href="@Url.Action("FindFSearch", "T_State", new {sourceEntity="T_Address",id=Model.Id}, null)">State</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_City", new {sourceEntity="T_Address",id=Model.Id}, null)">City</a>
</li>
</ul>
</li>
			</ul>
		</div>

        </h1>

      <h2 class="text-primary">
	  <span id="HostingEntityDisplayValue" class="EntityDisplayName" title="@Html.DisplayFor(model => model.DisplayValue)">@Html.DisplayFor(model => model.DisplayValue)</span>
			<div class="pull-right EntityDisplayBut">
				@Html.ActionLink("Cancel", "Cancel", new { UrlReferrer = ViewData["T_AddressParentUrl"] }, new { @onclick = "",  @class="btn btn-default btn-xs pull-right formbuttonfix" })

				
            </div>
	 </h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<input type="hidden" id="ErrMsg" />
<div id="errorContainerEdit" style="display: none">
            <div id="errorsMsgEdit"></div>
            <div id="errorsEdit"></div>
        </div>

<div id="divDisplayBRmsgBeforeSaveProp" style="display:none;">
</div>
<div id="divDisplayBRmsgMandatory" style="display:none;">
</div>
<div id="divDisplayLockRecord" style="display:none;">
</div>
<div id="divDisplayBRReadOnly" style="display:none;">
</div>
<div id="divDisplayCodeFragment" style="display:none;">
</div>
 <div class="tabbable responsive">
    <ul class="nav nav-tabs">
	 <li class="active"><a href="#Details" onclick="ClearTabCookie('@User.JavaScriptEncodedName@Model.Id');" data-toggle="tab">Details</a></li>

    </ul>
		<div class="tab-content">
        <div class="tab-pane fade in active" id="Details">
@using (Html.BeginForm("Edit","T_Address",new {UrlReferrer =Convert.ToString(ViewData["T_AddressParentUrl"])}, FormMethod.Post, new { enctype = "multipart/form-data",@id="frmT_Address" }))
{
     Html.ValidationSummary(true);
                Html.EnableClientValidation();
    @Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.ConcurrencyKey)
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px; margin:0px;">
                    <div class="panel panel-default AppForm">
						<div class="panel-body">
											<div class="row">
				@if(User.CanView("T_Address","T_AddressLine1"))
{
				<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_AddressLine1">
							<div class='form-group' title="AddressLine1">
								<label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_AddressLine1)   </label>
                                <div class="input-group col-sm-7 col-md-7 col-xs-12">
											
									@Html.TextBoxFor(model => model.T_AddressLine1,  getHtmlAttributes("T_AddressLine1"))
									@Html.ValidationMessageFor(model => model.T_AddressLine1)
								</div>
                             </div>
						</div>
										
} else { @Html.HiddenFor(model => model.T_AddressLine1, new { @class = "form-control" })}
@if(User.CanView("T_Address","T_AddressLine2"))
{
				<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_AddressLine2">
							<div class='form-group' title="AddressLine2">
								<label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_AddressLine2)   </label>
                                <div class="input-group col-sm-7 col-md-7 col-xs-12">
											
									@Html.TextBoxFor(model => model.T_AddressLine2,  getHtmlAttributes("T_AddressLine2"))
									@Html.ValidationMessageFor(model => model.T_AddressLine2)
								</div>
                             </div>
						</div>
										
} else { @Html.HiddenFor(model => model.T_AddressLine2, new { @class = "form-control" })}
@if(User.CanView("T_Address","T_ZipCode"))
{
				<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_ZipCode">
							<div class='form-group' title="ZipCode">
								<label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_ZipCode)   </label>
                                <div class="input-group col-sm-7 col-md-7 col-xs-12">
											
									@Html.TextBoxFor(model => model.T_ZipCode,  getHtmlAttributes("T_ZipCode"))
									@Html.ValidationMessageFor(model => model.T_ZipCode)
								</div>
                             </div>
						</div>
										
} else { @Html.HiddenFor(model => model.T_ZipCode, new { @class = "form-control" })}
				@if(User.CanView("T_Address","T_AddressCountryID"))
				{
									 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_AddressCountryID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_AddressCountryID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_Address", "T_AddressCountryID"))
		{
			@Html.DropDownList("T_AddressCountryID", null, "-- Select --", new {     @onchange = Html.Raw("ClearChildDD('T_AddressStateID',this,'false');ClearChildDD('T_AddressCityID',this,'false');") ,  @class = "chosen-select form-control", @HostingName = "T_Country", @dataurl = Url.Action("GetAllValue", "T_Country",new { caller = "T_AddressCountryID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_AddressCountryID, new { @class = "form-control" })
			@Html.DropDownList("T_AddressCountryID", null, "-- Select --", new {    @onchange = Html.Raw("ClearChildDD('T_AddressStateID',this,'false');ClearChildDD('T_AddressCityID',this,'false');") ,  @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_Country", @dataurl = Url.Action("GetAllValue", "T_Country",new { caller = "T_AddressCountryID" }) })
		}
									@Html.ValidationMessageFor(model => model.T_AddressCountryID)
									@if (User.Identity.IsAuthenticated && User != null && User.CanAdd("T_Country"))
                                    {
									<div class="input-group-btn">
										<a class="btn btn-default btn ie8fix"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Address Country','dvPopup','" + Url.Action("CreateQuick", "T_Country", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
											<span class="glyphicon glyphicon-plus-sign"></span>
										</a>
									</div>
									}
								

															</div>
							</div>
                        </div>
                    </div>


                   
					} else { @Html.HiddenFor(model => model.T_AddressCountryID, new { @class = "form-control" })}
				@if(User.CanView("T_Address","T_AddressStateID"))
				{
									 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_AddressStateID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_AddressStateID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_Address", "T_AddressStateID"))
		{
			@Html.DropDownList("T_AddressStateID", null, "-- Select --", new {   @ParentDD = "T_AddressCountryID" , @AssoNameWithParent = "T_StateCountryID" ,  @onchange = Html.Raw("ClearChildDD('T_AddressCityID',this,'false');") ,  @class = "chosen-select form-control", @HostingName = "T_State", @dataurl = Url.Action("GetAllValue", "T_State",new { caller = "T_AddressStateID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_AddressStateID, new { @class = "form-control" })
			@Html.DropDownList("T_AddressStateID", null, "-- Select --", new {  @ParentDD = "T_AddressCountryID" , @AssoNameWithParent = "T_StateCountryID" ,  @onchange = Html.Raw("ClearChildDD('T_AddressCityID',this,'false');") ,  @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_State", @dataurl = Url.Action("GetAllValue", "T_State",new { caller = "T_AddressStateID" }) })
		}
									@Html.ValidationMessageFor(model => model.T_AddressStateID)
									@if (User.Identity.IsAuthenticated && User != null && User.CanAdd("T_State"))
                                    {
									<div class="input-group-btn">
										<a class="btn btn-default btn ie8fix"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Address State','dvPopup','" + Url.Action("CreateQuick", "T_State", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
											<span class="glyphicon glyphicon-plus-sign"></span>
										</a>
									</div>
									}
								

															</div>
							</div>
                        </div>
                    </div>


                   
					} else { @Html.HiddenFor(model => model.T_AddressStateID, new { @class = "form-control" })}
				@if(User.CanView("T_Address","T_AddressCityID"))
				{
									 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_AddressCityID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_AddressCityID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_Address", "T_AddressCityID"))
		{
			@Html.DropDownList("T_AddressCityID", null, "-- Select --", new {   @ParentDD = "T_AddressCountryID,T_AddressStateID" , @AssoNameWithParent = "T_CityCountryID,T_CityStateID" ,   @class = "chosen-select form-control", @HostingName = "T_City", @dataurl = Url.Action("GetAllValue", "T_City",new { caller = "T_AddressCityID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_AddressCityID, new { @class = "form-control" })
			@Html.DropDownList("T_AddressCityID", null, "-- Select --", new {  @ParentDD = "T_AddressCountryID,T_AddressStateID" , @AssoNameWithParent = "T_CityCountryID,T_CityStateID" ,   @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_City", @dataurl = Url.Action("GetAllValue", "T_City",new { caller = "T_AddressCityID" }) })
		}
									@Html.ValidationMessageFor(model => model.T_AddressCityID)
									@if (User.Identity.IsAuthenticated && User != null && User.CanAdd("T_City"))
                                    {
									<div class="input-group-btn">
										<a class="btn btn-default btn ie8fix"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Address City','dvPopup','" + Url.Action("CreateQuick", "T_City", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
											<span class="glyphicon glyphicon-plus-sign"></span>
										</a>
									</div>
									}
								

															</div>
							</div>
                        </div>
                    </div>


                   
					} else { @Html.HiddenFor(model => model.T_AddressCityID, new { @class = "form-control" })}
       </div>
	            </div>
        </div>
		</div>
		 @Html.AntiForgeryToken();
		 @Html.ActionLink("Cancel", "Cancel", new { UrlReferrer = ViewData["T_AddressParentUrl"] }, new { @onclick = "", @class = "btn btn-default btn-sm pull-left formbuttonfix" })
		 if (EditPermission)
         {
 				<input type="submit" name="command" value="Save" class="btn btn-primary btn-sm pull-left formbuttonfix" />
				<input type="submit" name="command" value="Save & Continue" class="btn btn-primary btn-sm pull-left formbuttonfix" />
		}	
				<input type="hidden" name="hdncommand" value="" />
}
<div class="dropdown pull-left formbuttonfix">
<button type="button" class="btn btn-primary btn-sm dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            Add Association
            <span class="caret"></span>
        </button>
		 <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1">
</ul>

			</div><div class="clearfix" style="clear:both"></div>
</div>
</div> <!-- /tab-content --><br />

<br/>
</div>
	<script>
	   
    $(function () {
        var userAgent = navigator.userAgent.toLowerCase();
        // Figure out what browser is being used
        var browser = {
            version: (userAgent.match(/.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/) || [])[1],
            safari: /webkit/.test(userAgent),
            opera: /opera/.test(userAgent),
            msie: /msie/.test(userAgent) && !/opera/.test(userAgent),
            mozilla: /mozilla/.test(userAgent) && !/(compatible|webkit)/.test(userAgent)
        };
        if (!browser.msie) {
            $('form').areYouSure();
        }
        else if (browser.version > 8.0) {
            $('form').areYouSure();
        }
    });
</script>
	

@{
var businessrule = User.businessrules.Where(p => p.EntityName == "T_Address").ToList();

if ((businessrule != null && businessrule.Count > 0) )
{
    <script>
		$(document).ready(function () {
				document.getElementById("ErrMsg").innerHTML = "";
				var flag = true;
                var dataurl = "";
                var form = "";
                var inlinecount = "0";

				 form = $("#frmT_Address").serialize();
				dataurl = "@Url.Action("businessruletype", "T_Address", new { ruleType = "OnEdit"})";
                ApplyBusinessRuleOnPageLoad(dataurl, "T_Address", false, "ErrMsg", form);
				//business rules on inline associations

    });
</script>
<script>
    $("form").submit(function () {
			document.getElementById("ErrMsg").innerHTML = "";
            var flag = true;
            var dataurl = "";
            var form = "";
            var inlinecount = "0";
 form = $("#frmT_Address").serialize();
    
				 dataurl = "@Url.Action("businessruletype", "T_Address", new { ruleType = "OnEdit"})";
                 flag = ApplyBusinessRuleOnSubmit(dataurl, "T_Address", false, "ErrMsg", form);

  				 //business rules on inline associations
               
			 if (flag)
				{
				                    SaveServerTime(this, true);
                    $('input:hidden[name="hdncommand"]').val($(this.id).context.activeElement.value);
                    $("form").find(':input').removeAttr('disabled');
					}
            return flag;
		});
		 $(document).ready(function () {
                $("input[type='submit']").on('blur', function () {
                    $("input[type='submit']").removeAttr('disabled');
                });
               
            });
</script>
}
 else
    {
       <script>
    $("input[type='submit']").click(function (event) {
        var $this = $(this);
		SaveServerTime(this);
        $('input:hidden[name="hdncommand"]').val($this.val());
    });
	</script>
    }
 
}

<script type='text/javascript'>
    $(document).ready(function () {
        try {
		focusOnControl('frmT_Address');
        }
        catch (ex) { }
    });
</script>


