@model GeneratorBase.MVC.Models.CreateRoleViewModel
@{
    ViewBag.Title = "Create Role";
    Layout = null;
}
<link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    function bindForm() {
        $.ajax({
            url: '@Url.Action("CreateRole", "Account")',
            data: $('#createForm').serialize(),
            type: 'post',
            success: function (data) {
                if (data.success) {
                    var url = '@Url.Action("RoleList", "Account")';
                    window.location.href = url;
                }
                else {
                    fillErrorList(data);
                    showValidationErrors(true);
                }
            },
            error: function (xhr, status) {
                //Display error message
            }
        });
        return false;
    }
    function showValidationErrors(isShown) {
        if (isShown) {
            $("#errorContainer").show();
        } else {
            $("#errorContainer").hide();
        }
    }
    function fillErrorList(errors) {
        $("#errors").html("");
        var list = document.createElement('ul');
        for (var i = 0; i < errors.length; i++) {
            var item = document.createElement('li');
            item.appendChild(document.createTextNode(errors[i]));
            list.appendChild(item);
        }
        $("#errors").html(list);
    }
</script>
@using (Html.BeginForm("CreateRole", "Account", FormMethod.Post, new { id = "createForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div id="errorContainer" class="alert alert-danger" style="display: none">
        <div id="errors"></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default AppForm">
                <div class="panel-body">
                    <div class="row">
                        <div class='col-sm-6'>
                            <label>@Html.LabelFor(m => m.Name) <span class="text-danger-reg">*</span> </label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default AppForm">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class='col-sm-4'>
                                    <div class='form-group'>
                                        <label class="col-sm-5 col-md-5 col-xs-12">@Html.LabelFor(m => m.Name) <span class="text-danger-reg">*</span> </label>
                                        <div class="input-group col-sm-7 col-md-7 col-xs-12">
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <input type="submit" class="btn btn-primary btn-sm" value="Create" onclick="return bindForm();" />
}

