@model GeneratorBase.MVC.Models.ForgotPasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div>
        <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        @Scripts.Render("~/bundles/jqueryval")
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken();
            Html.ValidationSummary(true);
            Html.EnableClientValidation();
            <h5 class="form-signin-heading">
                Please enter your Username. <br />
                An email will be sent to your registered Email Id contains new password.
            </h5>
            <br />
            <label>@Html.LabelFor(m => m.Username)  <span class="text-danger-reg">*</span></label>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Username)
            <br />
            <input type="submit" value="Send Email" class="btn btn-primary btn-sm" onclick="QuickForgotPassword(event);" />
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <br />
            <label id="lblMainSentMsg" style="color:blue"></label>
            <label id="lblErrorMsg" style="color:red"></label>
        }
    </div>
    <script>
        function QuickForgotPassword(e) {
            e.preventDefault();
            var form = $(e.currentTarget).closest('form');
            if (!form.valid()) return;
            var url = $(e.currentTarget).closest('form').attr("action");
            var formData = $(e.currentTarget).closest('form').serialize();
            $.ajax({
                url: url + "?IsAddPop=" + true,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (result) {
                    if (result == "Ok") {
                        form.find('#lblMainSentMsg').text("An Email has been sent to your registered Email Id.");
                        form.find('#lblErrorMsg').text("");
                    }
                    else {
                        form.find('#lblErrorMsg').text("Please provide valid Username.");
                        form.find('#lblMainSentMsg').text("");
                    }
                }
            });
        }
    </script>
</body>
</html>
