@model GeneratorBase.MVC.Models.T_SessionEventsClient
<script>
    var delay = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();
 $(document).ready(function () {
	 $('#btnT_Client').click(function () {
        var dataurl = '@Url.Action("GetAllValues1")';
        SearchListNew1($('#btnT_Client'), dataurl, $('#txtSearchT_Client').val(), 'T_SessionEvents', '@ViewData["HostingEntityID"]', 'T_SessionEventsClient_T_SessionEvents', 'T_ClientIDAvailable', '');
        return false;
    });
	 $('#btnT_SessionEvents').click(function () {
        var dataurl = '@Url.Action("GetAllValues1")';
        SearchListNew1($('#btnT_SessionEvents'), dataurl, $('#txtSearchT_SessionEvents').val(), 'T_Client', '@ViewData["HostingEntityID"]', 'T_SessionEventsClient_T_Client', 'T_SessionEventsIDAvailable', 't_sessioneventslearningcenter,schedule,t_sessioneventstimeslots,T_IsCancelled');
        return false;
    });
});
</script>
@using (Html.BeginForm("Create", "T_SessionEventsClient",new {UrlReferrer = Convert.ToString(ViewData["T_SessionEventsClientParentUrl"]), IsDDAdd = ViewBag.IsDDAdd }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   @Html.AntiForgeryToken();
    Html.ValidationSummary(true);
    Html.EnableClientValidation();
	<label id="ErrMsg" class="text-primary small pull-right" style="color:red; vertical-align:middle; font-weight:100;"></label>
    <div class="row" style='display:none;' >
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default AppForm">
                <div class="panel-body">
               <div class="row" >         
				@if (Convert.ToString(ViewData["AssociatedType"]).Trim() == "T_SessionEventsClient_T_Client")
                {
				 <div class='col-sm-6 col-md-6 col-xs-12'>
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12">@Html.LabelFor(model => model.T_ClientID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
                            <div class="input-group" style="width:100%;">
		@Html.DropDownList("T_ClientID", null, "-- Select --", new {    @class = "chosen-select form-control", @HostingName = "T_Client", @dataurl = Url.Action("GetAllValue", "T_Client",null) })
                                @Html.ValidationMessageFor(model => model.T_ClientID)
								@if (User.Identity.IsAuthenticated && User != null && User.CanAdd("T_Client"))
                                    {
                                <div class="input-group-btn">
									<a class="btn btn-default btn ie8fix"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Client','dvPopup','" + Url.Action("CreateQuick", "T_Client", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
										<span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                </div>
								}
                            </div>
							</div>
                        </div>
                    </div>
				}
				@if (Convert.ToString(ViewData["AssociatedType"]).Trim() == "T_SessionEventsClient_T_SessionEvents")
                {
				 <div class='col-sm-6 col-md-6 col-xs-12'>
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12">@Html.LabelFor(model => model.T_SessionEventsID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
                            <div class="input-group" style="width:100%;">
		@Html.DropDownList("T_SessionEventsID", null, "-- Select --", new {    @class = "chosen-select form-control", @HostingName = "T_SessionEvents", @dataurl = Url.Action("GetAllValue", "T_SessionEvents",null) })
                                @Html.ValidationMessageFor(model => model.T_SessionEventsID)
								@if (User.Identity.IsAuthenticated && User != null && User.CanAdd("T_SessionEvents"))
                                    {
                                <div class="input-group-btn">
									<a class="btn btn-default btn ie8fix"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Session Events','dvPopup','" + Url.Action("CreateQuick", "T_SessionEvents", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
										<span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                </div>
								}
                            </div>
							</div>
                        </div>
                    </div>
				}
       </div>
                        </div>
                    </div>
                </div>
        </div>
  if (Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_SessionEventsClient_T_Client")
  { 
	<div class="M2MList">
		<div class="col-md-5" style="overflow:auto !important;max-height:400px;min-height:400px;">
            <h4>
                <span class="unselected-title">Search Client </span>
            </h4>
            @Html.TextBox("txtSearchT_Client", null, new { @class = "form-control", placeholder = "Search Client", @size = 10, @dataurl = Url.Action("GetAllValues") })
 
					@if (ViewBag.t_sessionclientassociation!=null)
                    {
						<div class='form-group' title="Session" style="display:none">
							<label class="text-primary small"> Session</label>
                                <div class="input-group" id="dvt_client">
		
	 @Html.DropDownList("t_sessionclientassociation", null, new {   @multiple = "multiple", @HostingName = "T_Session", @dataurl = Url.Action("GetAllMultiSelectValue", "T_Session",null) })
                                </div>
                        </div>
					}
					@if (ViewBag.t_sessioneventsclient!=null)
                    {
						<div class='form-group' title="Session Events" style="display:none">
							<label class="text-primary small"> Session Events</label>
                                <div class="input-group" id="dvt_client">
		
	 @Html.DropDownList("t_sessioneventsclient", null, new {   @multiple = "multiple", @HostingName = "T_SessionEvents", @dataurl = Url.Action("GetAllMultiSelectValue", "T_SessionEvents",null) })
                                </div>
                        </div>
					}
		</div>
		<label style="display:none;">@Html.LabelFor(model => model.T_ClientID) </label>
		<div class="col-md-7">
			<div class="col-md-12">
				<h4><span class="unselected-title">Available Client </span> <span style="float:right; font-size:14px;"> Show @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, string> { {"50","50"},{ "100", "100" }, { "200", "200" }, { "500", "500" }, { "All", "All" } }, "Key", "Value")
                    ,new {@dataurl=Url.Action("GetAllValues"), onchange="ListBoxPagination(this,$('#txtSearchT_Client').val(),'T_SessionEvents', '"+ViewData["HostingEntityID"]+"', 'T_SessionEventsClient_T_Client', 'T_ClientIDAvailable');"})
			</span></h4>
				
				@Html.ListBox("T_ClientIDAvailable", null, new { @class = "optionvalue", @size = 10 })
				
				 </div>
			<div class="col-md-12  btn-group" style="margin-top:10px;">
				<a id="MoveRightT_Client" onclick="Associate(event,'T_Client');" class="btn btn-primary col-md-6"><span id="MoveRightT_Client" class="glyphicon glyphicon-chevron-down"></span></a>
				<a id="MoveLeftT_Client" onclick="Associate(event,'T_Client');" class="btn btn-primary col-md-6" ><span id="MoveLeftT_Client" class="glyphicon glyphicon-chevron-up"></span></a>
			</div>
			<div class="col-md-12">
				<h4><span class="selected-title">Selected Client</span> </h4>
				@Html.ListBox("T_ClientIDSelected", null, new { @class = "optionvalue", @size = 10 })
			</div>
		</div>
	</div>
    }
  if (Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_SessionEventsClient_T_SessionEvents")
  { 
	<div class="M2MList">
		<div class="col-md-5" style="overflow:auto !important;max-height:400px;min-height:400px;">
            <h4>
                <span class="unselected-title">Search Session Events </span>
            </h4>
            @Html.TextBox("txtSearchT_SessionEvents", null, new { @class = "form-control", placeholder = "Search Session Events", @size = 10, @dataurl = Url.Action("GetAllValues") })
              
				<div class='form-group'>
                    <label class="text-primary small">Cancel this Event</label>
                    <div class="input-group" id="dvT_IsCancelled">
                        <select class="form-control" id="T_IsCancelled">
                            <option value="">All</option>
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select>
                    </div>
                </div>
             
				@if (ViewBag.t_sessioneventslearningcenter!=null)
                {
						<div class='form-group col-sm-12' title="Learning Center" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Learning Center</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_sessioneventslearningcenter">
		
	 @Html.DropDownList("t_sessioneventslearningcenter", null, new {   @multiple = "multiple", @HostingName = "T_LearningCenter", @dataurl = Url.Action("GetAllMultiSelectValue", "T_LearningCenter",null) })
							</div>
						</div>
				}
				@if (ViewBag.schedule!=null)
                {
						<div class='form-group col-sm-12' title="Schedule" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Schedule</label>
							</div>
							<div class="input-group col-sm-6" id="dvschedule">
		
	 @Html.DropDownList("schedule", null, new {   @multiple = "multiple", @HostingName = "T_Schedule", @dataurl = Url.Action("GetAllMultiSelectValue", "T_Schedule",null) })
							</div>
						</div>
				}
				@if (ViewBag.t_sessioneventstimeslots!=null)
                {
						<div class='form-group col-sm-12' title="Time Slot" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Time Slot</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_sessioneventstimeslots">
		
	 @Html.DropDownList("t_sessioneventstimeslots", null, new {   @multiple = "multiple", @HostingName = "T_TimeSlots", @dataurl = Url.Action("GetAllMultiSelectValue", "T_TimeSlots",null) })
							</div>
						</div>
				}
					@if (ViewBag.t_sessioneventsclient!=null)
                    {
						<div class='form-group' title="Client" style="display:none">
							<label class="text-primary small"> Client</label>
                                <div class="input-group" id="dvt_sessionevents">
		
	 @Html.DropDownList("t_sessioneventsclient", null, new {   @multiple = "multiple", @HostingName = "T_Client", @dataurl = Url.Action("GetAllMultiSelectValue", "T_Client",null) })
                                </div>
                        </div>
					}
		</div>
		<label style="display:none;">@Html.LabelFor(model => model.T_SessionEventsID) </label>
		<div class="col-md-7">
			<div class="col-md-12">
				<h4><span class="unselected-title">Available Session Events </span> <span style="float:right; font-size:14px;"> Show @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, string> { {"50","50"},{ "100", "100" }, { "200", "200" }, { "500", "500" }, { "All", "All" } }, "Key", "Value")
                    ,new {@dataurl=Url.Action("GetAllValues"), onchange="ListBoxPagination(this,$('#txtSearchT_SessionEvents').val(),'T_Client', '"+ViewData["HostingEntityID"]+"', 'T_SessionEventsClient_T_SessionEvents', 'T_SessionEventsIDAvailable');"})
			</span></h4>
				
				@Html.ListBox("T_SessionEventsIDAvailable", null, new { @class = "optionvalue", @size = 10 })
				
				 </div>
			<div class="col-md-12  btn-group" style="margin-top:10px;">
				<a id="MoveRightT_SessionEvents" onclick="Associate(event,'T_SessionEvents');" class="btn btn-primary col-md-6"><span id="MoveRightT_SessionEvents" class="glyphicon glyphicon-chevron-down"></span></a>
				<a id="MoveLeftT_SessionEvents" onclick="Associate(event,'T_SessionEvents');" class="btn btn-primary col-md-6" ><span id="MoveLeftT_SessionEvents" class="glyphicon glyphicon-chevron-up"></span></a>
			</div>
			<div class="col-md-12">
				<h4><span class="selected-title">Selected Session Events</span> </h4>
				@Html.ListBox("T_SessionEventsIDSelected", null, new { @class = "optionvalue", @size = 10 })
			</div>
		</div>
	</div>
    }
<div class="clearfix clear"></div><br />
    <div class="col-md-5">
		@if (Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_SessionEventsClient_T_Client")
        {
             <button id="btnT_Client" class="btn btn-primary btn-sm">Search</button>
        }
		@if (Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_SessionEventsClient_T_SessionEvents")
        {
             <button id="btnT_SessionEvents" class="btn btn-primary btn-sm">Search</button>
        }
 


    </div>
    <div class="col-md-7">
       @Html.ActionLink("Cancel", "Cancel", new { UrlReferrer = ViewData["T_SessionEventsClientParentUrl"] }, new { @onclick = "", @class = "btn btn-default btn-sm" })
            <input type="submit" name="command" value="Create" class="btn btn-primary btn-sm" />
	 <input type="hidden" name="hdncommand" value="" />
    </div>
    <br />
}
	<script>
    $(function () {
        var userAgent = navigator.userAgent.toLowerCase();
        // Figure out what browser is being used
        var browser = {
            version: (userAgent.match(/.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/) || [])[1],
            safari: /webkit/.test(userAgent),
            opera: /opera/.test(userAgent),
            msie: /msie/.test(userAgent) && !/opera/.test(userAgent),
            mozilla: /mozilla/.test(userAgent) && !/(compatible|webkit)/.test(userAgent)
        };
        if (!browser.msie) {
            $('form').areYouSure();
        }
        else if (browser.version > 8.0) {
            $('form').areYouSure();
        }
    });
</script>
@if(Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_SessionEventsClient_T_Client")
{
<script>
function FillSelectedListBox()
{
	$("#T_ClientIDSelected option").prop("selected","selected");
}
</script>
}
<script>
    $(document).ready(function () {	 
        $('#t_sessioneventslearningcenter').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#schedule').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_sessioneventstimeslots').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#T_IsCancelled').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
	});
</script>
@if(Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_SessionEventsClient_T_SessionEvents")
{
<script>
function FillSelectedListBox()
{
	$("#T_SessionEventsIDSelected option").prop("selected","selected");
}
</script>
}
<script>
    $(document).ready(function () {	 
        $('#t_sessioneventslearningcenter').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#schedule').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_sessioneventstimeslots').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#T_IsCancelled').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
	});
</script>
	<script>
            $("input[type='submit']").click(function () {
			FillSelectedListBox();
                var $this = $(this);
                $('input:hidden[name="hdncommand"]').val($this.val());
            });
	</script>
@{
    var busineesrule = User.businessrules.Where(p => p.EntityName == "T_SessionEventsClient").ToList();
    if ((busineesrule != null && busineesrule.Count > 0))
    {
        <script>
            $("form").submit(function () {
                    var flag = true;
                    $.ajax({
                        async: false,
                        type: "GET",
                        url: "@Url.Action("GetMandatoryProperties", "T_SessionEventsClient")",
                        data: $(this).serialize(),
                        success: function (data) {
						$('[businessrule="mandatory"]').each(function () {
                                $(this).removeAttr('required');
                            });
                            document.getElementById('ErrMsg').innerHTML = "";
                            for (var key in data) {
                                if ($.trim($('#' + key).val()).length == 0) {
                                    $('#' + key).attr('required', 'required');
									$('#' + key).attr('businessrule', 'mandatory');
                                    flag = false;
                                    document.getElementById('ErrMsg').innerHTML += data[key] + " is Mandatory.<br/>";
                                }
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            //alert(JSON.stringify(jqXHR));
                            //alert(errorThrown);
                        }
                    });
                    return flag;
            });
        </script>
    }
}


