@model GeneratorBase.MVC.Models.T_Student
@{
    ViewBag.Title = "Create Student";
    Layout = null;
}
<script>
    $(document).ready(function () {
        try {
            var hostingEntityName = "";
            if ('@Convert.ToString(ViewData["AssociatedType"])' != null) {
                hostingEntityName = '@Convert.ToString(ViewData["AssociatedType"])';
                 $('#' + hostingEntityName + 'ID').attr("lock","true");
				  $('#' + hostingEntityName + 'ID').trigger("change");
            }
        }
        catch (ex) { }
    });
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_StudentIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_StudentIsHiddenRule);
    }
}
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("CreateQuick", "T_Student",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    Html.ValidationSummary(true);
    Html.EnableClientValidation();
	<label id="ErrMsgQuickAdd" class="text-primary small pull-right" style="color:red; vertical-align:middle; font-weight:100;"></label>
    <div id="errorContainerQuickAdd" style="display: none">
        <div id="errorsMsgQuickAdd"></div>
        <div id="errorsQuickAdd"></div>
    </div>
    <div class="row">
	@Html.Hidden("AssociatedEntity", Convert.ToString(ViewData["AssociatedType"]))
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default AppForm">
                <div class="panel-body">
               <div class="row">         
								<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
                                            <h3 class="panel-title">Type of student</h3>
                                        </div>
                                        <div class="panel-body">
                            <div class='col-sm-6' id="dvT_Fulltime">
                                <label >
                                    @Html.LabelFor(model => model.T_Fulltime) 
                                </label>
                                <div class="form-group">
                                    @*@Html.CheckBoxFor(model => model.T_Fulltime)*@
									@Html.CheckBox("T_Fulltime", false)
                                    @Html.ValidationMessageFor(model => model.T_Fulltime)
                                </div>
                            </div>
                            <div class='col-sm-6' id="dvT_Parttime">
                                <label >
                                    @Html.LabelFor(model => model.T_Parttime) 
                                </label>
                                <div class="form-group">
                                    @*@Html.CheckBoxFor(model => model.T_Parttime)*@
									@Html.CheckBox("T_Parttime", false)
                                    @Html.ValidationMessageFor(model => model.T_Parttime)
                                </div>
                            </div>
							</div>
                         </div>
                      </div>
       </div>
               <div class="row">         
				 <div class='col-sm-6'  id="dvT_SchoolNameID">
                        <div class='form-group'>
                            <label>@Html.LabelFor(model => model.T_SchoolNameID) </label>
                            <div class="input-group" style="width: 100%;">
									@Html.DropDownList("T_SchoolNameID", null, "-- Select --", new {       @class = "chosen-select form-control", @HostingName = "T_School", @dataurl = Url.Action("GetAllValue", "T_School",new { caller = "T_SchoolNameID" }) })
                                @Html.ValidationMessageFor(model => model.T_SchoolNameID)
                            </div>
                        </div>
                    </div>
				 <div class='col-sm-6'  id="dvT_DepartmentCodeID">
                        <div class='form-group'>
                            <label>@Html.LabelFor(model => model.T_DepartmentCodeID) </label>
                            <div class="input-group" style="width: 100%;">
									@Html.DropDownList("T_DepartmentCodeID", null, "-- Select --", new {       @class = "chosen-select form-control", @HostingName = "T_Department", @dataurl = Url.Action("GetAllValue", "T_Department",new { caller = "T_DepartmentCodeID" }) })
                                @Html.ValidationMessageFor(model => model.T_DepartmentCodeID)
                            </div>
                        </div>
                    </div>
					<div class='col-sm-6' id="dvT_Name">
                                <div class='form-group'>
                                    <label>@Html.LabelFor(model => model.T_Name) <span class="text-danger-reg">*</span></label>
									 
                                    @Html.TextBoxFor(model => model.T_Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_Name)
									
                                </div>
					</div>
							<div class='col-sm-6' id="dvT_Description">
                                <div class='form-group'>
                                    <label>@Html.LabelFor(model => model.T_Description) </label>
                                    @Html.TextAreaFor(model => model.T_Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_Description)
                                </div>
							</div>
       </div>
                        </div>
                    </div>
                </div>
        </div>
		<button id="CancelQuickAdd" type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
		var busineesrule = User.businessrules.Where(p => p.EntityName == "T_Student").ToList();
        if (ViewBag.IsAddPop != null)
		{
			<input type="submit" value="Create" class="btn btn-primary btn-sm" onclick="QuickAdd(event,'@busineesrule',@busineesrule.Count);" />
		}
		else
		{
			<input type="submit" value="Create" class="btn btn-primary btn-sm" onclick="QuickAddFromIndex(event,true,'T_Student','@ViewData["AssociatedType"]','@busineesrule',@busineesrule.Count);" />
		}
}
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/Common3/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>


